<div class="container mt-5">
  <h1><%= @teacher.name %> <small><%= @teacher.campus %></small></h1>
  <h2>
    <%= pluralize @teacher.reviews.size, "review" %>
  </h2>

  <div id="reviews">
    <% if @teacher.reviews.blank? %>
      Be the first to leave a review for <%= @teacher.name %>
    <% else %>
      <% @teacher.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </div>

  <%= link_to "< Back to Home",  teachers_path %>

  <%= simple_form_for([ @teacher, @review ]) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit %>
  <% end %>

</div>
